extends base

block content

  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg ADD PRODUCTS
      br
      label(for="sel1" style="font-size: 1.5rem;") SELECT PRODUCT NAME:
      select.form-control(id="sel1" style="font-size: 1.3rem;")
        each model, val in models
          option(value="", id="val")=`${val}`
      br
      form.form.form--login(autocomplete="off", method='post')
        .row.row-space
          .col
            .form__group
              label.form__label(for='text') Product By
              input.form__input(type='text',id="productBy", placeholder='AXEN', required)
          .col
            .form__group
              label.form__label(for='text') Product Name
              input.form__input(type='text',id="productName", placeholder='AXEN-NAME', required)
        .row.row-space
          .col
            .form__group
              label.form__label(for='text') Style
              input.form__input(type='textarea',rows="4" cols="50",id="style",placeholder='STYLE', required)
          .col
            .form__group
              label.form__label(for='text') ImageCover
              input.form__input(type='text',id="imageCover",placeholder='IMAGE COVER.jpg', required)
        .form__group
              label.form__label(for='text') Description
              input.form__input(type='textarea',rows="4" cols="50",id="description",placeholder='DESCRIPTION', required)
        .row.row-space
          .col
            .form__group
              label.form__label(for='text') Colors
              input.form__input(type='text',id="colors",placeholder='RED', required)
          .col
            .form__group
              label.form__label(for='text') Price
              input.form__input(type='text',id="price",placeholder='₹ 235', required)
        .row.row-space
          .col
            .form__group
              label.form__label(for='text') RatingsAverage
              input.form__input(type='number', step="0.01", id="4.5",placeholder='AXEN', required)
          .col
            .form__group
              label.form__label(for='text') RatingsQuantity
              input.form__input(type='number',id="ratingsQuantity",placeholder='1,222', required)
        .form__group
          label.form__label(for='text') Link
          input.form__input(type='text',id="link",placeholder='https://amzn.to/2BgZUAk', required)  
        .form__group
          button.btn.btn--green(style="width: 10rem; font-size: 1rem;", id="upload") Upload